@import '../abstracts/_variables.less';

.l-header-container {
  background-color: @dark-blue;
  min-height: 165px;
}

.l-header-title {
  font-size: 26px;
  font-weight: 700;
  color: @white;
}
